.sidebar {
    height: 100%;
    width: 200px;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: -200px;
    transition: all 0.3s;
}
  
  .sidebar.open {
    left: 0;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      left: -100%;
    }
    .sidebar.open {
      left: 0;
    }
  }
  